{% extends '@BackOffice/base.html.twig' %}

{# Head part #}
	{% block title %}
		Statistiques
	{% endblock %}

	{% block styles %}
		
	{% endblock %}

	{% block scripts %}
		
	{% endblock %}

	{% block head %}
		
	{% endblock %}
{# End Head part #}
{# Body part #}
	{% block header %}
		<h1>Statistiques</h1>
	{% endblock %}

	{% block body %}
		<ul>
			<li>Nombre d’utilisateurs par ville :
				<ul>
					{% for city_user in city_users %}
						<li>{{ city_user.ville }} : {{ city_user.nb }} utilisateur(s)</li>
					{% endfor %}
				</ul>
			</li>
			<li>Par société ;
				<ul>
					<li>Nombre de km total :
						<ul>
							{% for societe_km in societe_kms %}
								<li>{{ societe_km.societe }} : {{ societe_km.somme }} km</li>
							{% endfor %}
						</ul>
					</li>
					<li>Nombre d'utilisateurs :
						<ul>
							{% for societe_user in societe_users %}
								<li>{{ societe_user.societe }} : {{ societe_user.nb }} utilisateur(s)</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</li>
			<li>Par société ;
				<ul>
					<li>Nombre de km par mois et par utilisateur (sur l’année en cours) :
						<table>
							<thead>
								<th>Utilisateurs</th>
								{% for month in months %}
									<th>{{ month }}</th>
								{% endfor %}
							</thead>
							<tbody>
								{% for km_month in km_months %}
									<tr>
										{% if not km_month is empty %}
											<td>{{ km_month[0].nom }} {{ km_month[0].prenom }}</td>
											{% for month in months %}
												{% set index = loop.index %}
												{% set monthsetted = false %}

												{% for km_mont in km_month %}
													{% set month = km_mont.mois %}
													{% if index == month %}
														<td>{{ km_mont.somme }}</td>
														{% set monthsetted = true %}
													{% endif %}
												{% endfor %}

												{% if not monthsetted %}
													<td></td>
												{% endif %}
											{% endfor %}
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</li>
				</ul>
			</li>
		</ul>
	{% endblock %}

	{% block footer %}
		
	{% endblock %}
{# End Body part #}
