{% extends '@BackOffice/base.html.twig' %}

{# Head part #}
	{% block title %}
		Liste des utilisateurs
	{% endblock %}

	{% block styles %}
		
	{% endblock %}

	{% block scripts %}
		
	{% endblock %}

	{% block head %}
		
	{% endblock %}
{# End Head part #}
{# Body part #}
	{% block header %}
		<a class="material-button light" href="{{ path('back_office_user_create') }}"><i class="material-icons">add_box</i>Ajouter un utilisateur</a>
		{% endblock %}
		
		{% block body %}
		<h2>Utilisateurs</h2>
		<form method="post" action="{{ path('back_office_user_list') }}">
			<input type="text" name="shape" id="shape" />
			<input type="submit" value="Rechercher" />
		</form>
		<table>
			<tr>
				<td>Nom</td>
				<td>Prénom</td>
				<td>En détails</td>
				<td>Modifier l'utilisateur</td>
			</tr>
			{% for obj in objs %}
				<tr>
					<td>{{ obj.nom }}</td>
					<td>{{ obj.prenom }}</td>
					<td><a href="{{ path('back_office_user_read', {'user':obj.id}) }}" target="_self">Détails</a></td>
					<td><a href="{{ path('back_office_user_update', {'user':obj.id}) }}">Modifier</a></td>
				</tr>
			{% endfor %}
		</table>
	{% endblock %}

	{% block footer %}
		
	{% endblock %}
{# End Body part #}
