<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="{{ asset('./favicon.ico') }}" />
		<link rel="stylesheet" href="{{ asset('./css/style.css') }}" />

		{% block styles %}{% endblock %}

		{% block scripts %}{% endblock %}

		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<div class="menu">
				<a href="{{ path('back_office_homepage') }}">Home</a>
				<a href="{{ path('back_office_user_list') }}">Users</a>
				<a href="{{ path('back_office_service_list') }}">Services</a>
				<a href="{{ path('back_office_societe_list') }}">Societes</a>
				<a href="{{ path('back_office_deplacement_list', {'id':'1'}) }}">Déplacements (en tant qu'Admin)</a>
				<a href="{{ path('back_office_deplacement_list', {'id':'2'}) }}">Déplacements (en tant que Julien)</a>
				<a href="{{ path('back_office_stats') }}">Statistiques</a>
			</div>
			{% block header %}{% endblock %}
		</header>
		<main>{% block body %}{% endblock %}</main>
		<footer>{% block footer %}{% endblock %}</footer>
	</body>
</html>
